<div class="row">
    <div class="col-md-2">
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="nav navbar">
                <li class="active"><a href="#">Home</a></li>
                <li><a ui-sref="mobile">Mobiles</a></li>
                <li><a ui-sref="sports">Sports</a></li>
                <li class="dropdown"><a ui-sref="fashion">Fashion</a>
                </li>
            </ul>
            <hr/>
            <h4>Gender</h4>
            <!-- <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="val1" ng-true-value="'male'" ng-change="checkboxFilter()">Male</label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="val2" ng-true-value="'female'" ng-change="checkboxFilter()">Female</label>
            </div> -->

            <div class="checkbox">
            <ul ng-repeat="x in genderArray">
                <li><input type="checkbox" ng-model="val[$index]" ng-true-value="'{{x}}'">{{x}}</li>
            </ul>
        </div><hr/>
        <h4>Price</h4> 
            <rzslider rz-slider-model="minRangeSlider.minValue" rz-slider-high="minRangeSlider.maxValue" rz-slider-options="minRangeSlider.options"></rzslider>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div ng-repeat="x in filteredClothes | genderFilter:val | filter:priceFilter">
                <div class="col-md-3 col-xs-4">
                    <div class="panel panel-default text-center" style="padding:10px">
                        <a class="cursorPointer" ng-click="descriptionRedirect(x.id)"><img class="cardImage" src="{{x.image[0]}}" alt=""></a>
                        <div class="panel-content" style="padding:10px">
                            <div class="panel-heading-title clothesName">
                                <a class="cursorPointer">{{x.name}}</a>
                            </div>
                            <div class="priceFont cursorPointer">{{x.price|currency:"₹"}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-md-offset-3" ng-show="(filteredClothes | genderFilter:val | filter:priceFilter).length==0">
    
        
            <img class="text-center" src="../assets/img/error.png">
            <div class="errorText">Sorry, no results found!</div>
</div>

