<div class="row">
    <div class="col-md-2">
        <ul style="list-style: none">
            <li><img ng-click="changeSource(sportsDesc.image[0])" class="previewSmall img-thumbnail cursorPointer" src="{{sportsDesc.image[0]}}"></li>
            <li><img ng-click="changeSource(sportsDesc.image[1])" class="previewSmall img-thumbnail cursorPointer" src="{{sportsDesc.image[1]}}"></li>
            <li><img ng-click="changeSource(sportsDesc.image[2])" class="previewSmall img-thumbnail cursorPointer" src="{{sportsDesc.image[2]}}"></li>
        </ul>
    </div>
    <div class="col-md-2">
        <img class="img-thumbnail" src="{{mainImage}}">
         <button class="btn btn-primary" style="margin: 10px 45px" ng-click="cartRedirect(sportsDesc.id)">Add to Cart</button>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1>{{sportsDesc.name}}</h1>
                <h3>{{sportsDesc.price|currency:"₹"}}</h3>
            </div>
            <div class="panel-content" style="padding:10px">
                <p>{{sportsDesc.desc}}</p>
                <h3>Features</h3>
                <ul class="list-group">
                    <li class="list-group-item">Material : <span class="badge">{{sportsDesc.features.material}}</span></li>
                    <li class="list-group-item">Color : <span class="badge">{{sportsDesc.features.color}}</span></li>
                    <li class="list-group-item">Weight : <span class="badge">{{sportsDesc.features.weight}}</span></li>
                    
                    
                </ul>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Reviews</h4>
            </div>
            <div class="panel-content" style="padding:10px">
            	<h5><b>{{sportsDesc.reviews[0].title}}</b></h5>
            	<p>{{sportsDesc.reviews[0].comment}}</p><hr/>
            	<h5><b>{{sportsDesc.reviews[1].title}}</b></h5>
            	<p>{{sportsDesc.reviews[1].comment}}</p><hr/>
            	<h5><b>{{sportsDesc.reviews[2].title}}</b></h5>
            	<p>{{sportsDesc.reviews[2].comment}}</p>
            </div>
           

        </div>
    </div>
</div>