@media screen and (min-width:500px){

.productName{

	font-size: 15px;
}
}

@media screen and (max-width:500px){

.priceFont{

	font-size: 12px;
}
}


.carouselHeading{

	
	color: blue;
	font-family: helvetica;
	
}

.carouselButton{

	margin-top:10px;
	margin-left: 30px;
}
@media screen and (min-width: 500px){
.carouselInfo{

	margin-top:100px;


}
}

.adImages{

	height:50%;
	width:80%;
}

#electronicsCarousel{

	background-color: none;
}

.carouselControlEdit{

	cursor: pointer;

}


/*.carouselControlEdit:hover{

	opacity: 0;
}*/

.carouselControlIcon{

	
	color:black;
	
}

.cardHeight{

	height: 245.97px;
}

.cardImage{

	height:100%;
	width: 60%
}

@media only screen and (min-width: 992px){

	.leftControl{

		margin-left: -130px !important;
	}

	.rightControl{

		margin-right:-130px !important;
	}
}
@media only screen and (max-width: 992px){

	.leftControl{

		position:relative;
		top:-30px !important;
		/*right:0px;*/
	}

	.rightControl{

		position:relative;
		top:-30px !important;
		/*left:0px;*/
	}

	.leftControlFashion{

		position:relative;
		top:0px !important;
		/*right:0px;*/
	}

	.rightControlFashion{

		position:relative;
		top:-10px !important;
		/*left:0px;*/
	}
}

@media only screen and (max-width: 500px){

	.mobileName{

	height: 60px;
}

.clothesName{

	height: 100px;
}

.sportsName{

	height: 100px;
}
}

@media only screen and (min-width: 500px){

	.mobileName{

	height: 40px;
}

.clothesName{

	height: 36px;
}

.sportsName{

	height: 36px;
}
}

/*@media only screen and (max-width: 992px){

	.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
}*/
